<h1>Result</h1>

<% unless @use_grid_only %>
  <p>Sorry but <strong><%= @proposal %></strong> can't be built out of <%= @letters %></p>
<% else %>
  <% if @valid_word %>
    <p><strong>Congratulations</strong>, <%= @proposal %> is a valid english word!</p>
    <p>You earned <strong><%= @points %></strong> points with this word</p>
  <% else %>
    <p>Sorry but <strong><%= @proposal %></strong> does not seem to be a valid English word.</strong> </p>
  <% end %>
<% end %>

<p>Total score : <strong><%= @total_score %></strong></p>

<%= link_to "Play again", new_path %>